QWidget, QTabWidget::pane, QTabWidget::tab-bar {
    background-color: rgb(47, 52, 63);
}
QTabBar::tab {
    color: rgb(120, 120, 20);
    background-color: rgb(47, 52, 63);
    background-color: rgb(47, 52, 63);
    font-size: 14px;
    height: 25px;
    padding: 0px;
    border: 0px;
}
QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #1e5799, stop: 0.01 #2989d8, stop: 0.11 rgb(47, 52, 63));
    color: #AAB6B2;
}
